<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>luv2code</title>
</head>
<body>
    <h2 style="color:red;">This is home page! :)</h2>
    <hr>
    <!--display user name & role-->
    <p> the user id : <span sec:authentication="principal.username"></span></p>
    <p> the user role(s) : <span sec:authentication="principal.authorities"></span></p>
    <hr>
    <!--add a link to /leaders & /systems-->
    <div sec:authorize="hasRole('MANAGER')">
        <p><a th:href="@{/leaders}">Leadership Meeting</a>(only for manager peeps)</p>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
        <p><a th:href="@{/systems}">IT Systems Meeting</a>(only for admin peeps)</p>
    </div>
    <hr>
    <!--log-out btn-->
    <form action="#" th:action="@{/logout}" method="POST">
        <input type="submit" value="Log-Out"/>
    </form>
</body>
</html>